html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
	box-sizing: border-box;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */
}
@blue: #29b6f6;
@green: #26a69a;
@pink: #ff4081;
.transition (@prop: all, @time: 1s, @ease: linear) {
  -webkit-transition: @prop @time @ease;
  -moz-transition: @prop @time @ease;
  -o-transition: @prop @time @ease;
  -ms-transition: @prop @time @ease;
  transition: @prop @time @ease;
}
@small: ~"(max-width: 1199px)";
@tablet: ~"(max-width: 991px)";
body {
	font: 14px/30px 'Open Sans', sans-serif;
	color: @blue;
}
a {
	color: @blue;
	text-decoration: none;
	&:focus {
		outline: 0;
		color: @blue;
		text-decoration: none;
	}
	&:active {
		color: @blue;
		text-decoration: none;
	}
	&:hover,
	&.pseudo-hover {
		text-decoration: none;
		color: @pink;
	}
}
.pseudo {
	text-decoration: none!important;
	cursor: pointer; 
	border-bottom: 1px dotted;
}
h1, 
h2 {
	font: 700 40px/30px 'Open Sans', sans-serif;
	color: @blue;
	margin: 0 0 25px 0;
}
h2 {
	font-size: 30px;
}
p {
	line-height: 30px;
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
.input {
	border: 2px solid #e3f2fd !important;
	border-radius: 10px !important;
	padding: 13px !important;
	min-height: 50px;
	box-shadow: none !important;
	margin-bottom: 0 !important;
}
.catalog-search label {
  position: absolute;
  top: 16px;
  left: 1em;
  cursor: text;
}
.input-hint {
	color: #455a64;
}
.hide {
  left: -9999em !important;
}
.clear-text {
  display: none;
}
.clear-text {
  position: absolute;
  z-index: 1000;
  top: 19px;
  right: 42px;
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  _top: 29px;
}
.clear-text:hover {
  background-position: 0 -30px;
}
.ct-show {
  display: block;
}
.rub {
  font-family: 'PT Sans', sans-serif;
}
.btn {
	border: 2px solid @blue;
	border-bottom-left-radius: none;
	border-radius: 36px !important;
	padding: 3px 20px 3px 30px !important;
	color: @blue;
	font-size: 16px;
	font: 700 16px/30px 'Open Sans', sans-serif !important;
	background: #fff;
	white-space: nowrap;
	text-shadow: none !important;
	box-shadow: none !important;
	&:hover {
		background: @blue;
		color: #fff;
	}
	&:focus {
		color: @blue !important;
		background: #fff !important;
		outline: none!important;
		.caret {
			background-position: -57px -88px;
		}
	}
	&:hover:focus {
		color: #fff;
		.caret {
			background-position: -57px -88px;
		}
	}
	&:hover .caret {
		background-position: -74px -88px;
	}
}
.btn-group.open .btn.dropdown-toggle, .select-form.active .btn.dropdown-toggle {
	background: @blue !important;
	color: #fff !important;
}
.select-form.active .btn.dropdown-toggle:hover {
	background: #039be5!important;
	border-color: #039be5!important;
}
.btn-group.open .btn.dropdown-toggle .caret, .select-form.active .btn.dropdown-toggle .caret {
	background-position: -74px -88px;
}
.caret {
	background: url(../../f/i/icons.png);
	display: inline-block;
	vertical-align: middle;
	margin-top: -1px !important;
	width: 16px;
	border: none;
	height: 9px;
	margin-left: 15px !important;
	background-position: -57px -88px;
}
.select-form {
	margin-bottom: 0 !important;
	display: inline-block;
	margin-right: 16px;
	vertical-align: middle;
	margin-left: 0 !important;
	margin-bottom: 15px !important;
}
.btn-reset {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	height: 100%;
	width: 45px;
	background: @blue;
	border: none;
	border-radius: 0 36px 36px 0;
	&:hover {
		background: #039be5;
	}
	&:before {
		content: '';
		position: absolute;
		background: url(../../f/i/icons.png);
		width: 16px;
		left: 0;
		right: 5px;
		top: 0;
		bottom: 0;
		margin: auto;
		height: 15px;
		background-position: -179px -70px;
	}
}
.select-form.active .btn-reset {
	display: block;
}
.dropdown-menu {
	border: 2px solid @blue;
	background: #fff;
	border-radius: 10px;
	top: 60px !important;
	&:before {
		position: absolute;
		content: '';
		width: 0;
		top: -13px;
		left: 20px;
		height: 0;
		border: 13px solid transparent;
		border-bottom-color: @blue;
		border-top: none;
	}
	&:after {
		position: absolute;
		content: '';
		width: 0;
		top: -10px;
		left: 20px;
		height: 0;
		border: 13px solid transparent;
		border-bottom-color: #fff;
		border-top: none;
	}
	& li {
		border-bottom: 2px solid #e3f2fd;
		&:first-child {
			display: none;
		}
		&:last-child {
			border-bottom: none;
		}
	}
	& li label {
		padding-left: 20px !important;
		line-height: 50px;
	}
	& li input {
		display: none;
	}
	& li a {
		background: #fff !important;
		border-radius: 10px;
		color: @blue;
		height: 50px !important;
		line-height: 50px;
		&:hover label {
			color: @pink;
			font-weight: bold;
		}
		&:focus {
			color: @blue !important;
		}
	}
	& li.active a label {
		color: @pink !important;
		font-weight: bold !important;
	}
	&__accept {
		padding: 15px 0 !important;
		text-align: center;
		& button {
			background: #fff;
			border-radius: 10px;
			paddin: 3px 10px;
			border: 2px solid @blue;
			color: @blue;
			display: inline-block;
			vertical-align: top;
			font-weight: bold;
			&:hover {
				background: @blue;
				color: #fff;
			}
		}
	}
}
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: middle;
  background-image: url("../../f/i/icons.png");
  background-repeat: no-repeat;
}
[class^='iconize-'], [class*=' iconize-'] {
  position: relative;
  display: inline-block;
}
[class^='iconize-']:before, [class*=' iconize-']:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  background: url('../../f/i/icons.png') -9999px -9999px no-repeat;
}
.iconize-tiles:before {
	width: 18px;
	height: 18px;
	left: 4px;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-position: -18px -100px;
}
a.iconize-tiles:hover:before {
	background-position: 0 -100px;
}
.iconize-list:before {
	width: 18px;
	height: 17px;
	left: 0;
	right: 4px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-position: -54px -101px;
}
a.iconize-list:hover:before {
	background-position: -36px -101px;
}
.icon-bread {
	width: 9px;
	height: 9px;
	background-position: -165px -44px;
	margin: -1px 3px 0 0;
}
.icon-text {
	width: 22px;
	height: 22px;
	background-position: -126px -67px;
}
.icon-video {
	width: 22px;
	height: 22px;
	background-position: -148px -67px;
}
.icon-parents {
	width: 22px;
	height: 23px;
	margin: -4px 15px 0 0;
	background-position: -29px -74px;
}
.icon-star {
	width: 25px;
	height: 24px;
	margin: -4px 15px 0 0;
	background-position: 0 -73px;
}
.icon-percent {
	width: 22px;
	height: 21px;
	margin: -4px 15px 0 0;
	background-position: -94px -62px;
}
.icon-heart {
	width: 25px;
	height: 21px;
	margin: -4px 15px 0 0;
	background-position: -65px -62px;
}
.iconize-search:before {
	right: 0;
	bottom: 0;
	margin: auto;
	width: 15px;
	height: 15px;
	background-position: -109px -46px;
}
.iconize-search:hover:before {
	background-position: -127px -46px;
}
.icon-down-arrow {
	width: 9px;
	height: 7px;
	margin: -3px 0 0 0px;
	background-position: -72px -38px;
}
a:hover .icon-down-arrow {
	background-position: -72px -45px;
}
.icon-inteo {
	width: 85px;
	height: 16px;
	background-position: 0 0px;
}
a:hover .icon-inteo {
	background-position: 0 -16px;
}
.icon-cart {
	width: 16px;
	height: 12px;
	background-position: -85px 0;
	margin: -3px 8px 0 0;
}
.icon-catalog {
	width: 10px;
	height: 10px;
	background-position: 0 -32px;
	margin: -3px 10px 0 0;
	&_green {
		background-position: -20px -32px;
	}
}
a:hover .icon-catalog {
	background-position: -10px -32px;
}
.icon-big-catalog {
	width: 15px;
	height: 15px;
	margin: -4px 15px 0 0;
	background-position: -85px -34px;
}
.icon-face {
	width: 18px;
	height: 22px;
	background-position: -163px 0;
	margin-top: -3px;
	&_green {
		background-position: -182px -22px;
	}
}
.icon-phone {
	width: 14px;
	height: 14px;
	background-position: -165px -24px;
	margin: -6px 5px 0 0;
}
.icon-parent-face {
	margin: -3px 0 0 0;
	width: 20px;
	height: 24px;
	background-position: 0 -44px;
}
.icon-educator-face {
	margin: -3px 0 0 0;
	width: 20px;
	height: 25px;
	background-position: -20px -44px;
}
.icon-right-arrow {
	margin: -2px 0 0 0;
	width: 10px;
	height: 15px;
	background-position: -46px -41px;
	margin-left: 15px;
}
a:hover .icon-right-arrow {
	background-position: -56px -41px;
}
.icon-right-arrow2 {
	margin: -2px 0 0 0;
	width: 10px;
	height: 15px;
	background-position: -150px -47px;
	margin-left: 15px;
}
a:hover .icon-right-arrow2 {
	background-position: -46px -41px;
}
.iconize-right-arrow:before {
	width: 10px;
	height: 15px;
	top: 0;
	left: auto;
	bottom: 0;
	right: 10px;
	margin: auto 0;
	background-position: -46px -58px;
}
.iconize-right-arrow:hover:before {
	background-position: -56px -41px;
}
.wrap {  
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 0 -250px 0;
	padding: 0;
	min-width: 991px;  
	&:after {  
		content: '';
		height: 250px;
	  margin: 0;
	  padding: 0; 
	} 
}
.holder {
	max-width: 1600px;
	margin: 0 auto;
	padding: 45px 50px;
	position: relative;
	&_header {
		padding: 25px 50px;
	}
}
.header {
	height: 155px;
	position: relative;
	&:hover .slide-btn .slide-btn__text {
		max-width: 1000px;
		padding: 0 10px;
		opacity: 1;
		.transition(max-width, 2.5s, linear);
	}
	&:after {
		position: absolute;
	  bottom: -7px;
	  left: 0;
	  display: block;
	  width: 100%;
	  height: 7px;
	  content: '';
	  background: url('../../f/i/waves/wave2.png') repeat-x;
	  z-index: 10;
	}
	&__controls {
		//float: right;
		padding-top: 5px;
		text-align: right;
	}
	&__btns {
		margin-bottom: 28px;
	}
	&__contacts-link {
		font-weight: bold;
		margin-right: 25px;
		font-size: 16px;
		&_green {
			color: @green;
			&:hover {
				color: @pink;
			}
		}
		@media @small {
			font-size: 14px;
			line-height: 30px;
		}
	}
	&__menu-wrap {
		float: left;
		& .main-menu {
			padding-top: 0;
		}
	}
	&__whom {
		margin-bottom: 33px;
		padding-top: 5px;
	}
}
.main-menu {
	margin-left: -25px;
	padding-top: 70px;
	float: left;
	@media @small {
		margin-left: -10px;
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		margin-left: 25px;
		position: relative;
		@media @small {
			margin-left: 10px;
		}
		& a {
			font-weight: bold;
			font-size: 16px;
			@media @small {
				font-size: 14px;
			}
		}
		&:hover {
			& .main-submenu {
				&__wrap {
					display: block;
				}
				&:before {
					display: block;
				}
			}
			& a {
				color: @pink;
			}
		}
		&_sub:hover .icon-down-arrow {
			background-position: -72px -45px;
		}
	}
	&_green li a {
		color: @green;
		&:hover {
			color: @pink;
		}
	}
}
.main-submenu {
	padding-top: 10px;
	position: absolute;
	top: 20px;
	left: -40px;
	z-index: 120;
	&:before {
		content: '';
		position: absolute;
		top: 5px;
		left: 40px;
		z-index: 10;
		width: 0;
		display: none;
		height: 0;
		border: 5px solid transparent;
		border-bottom-color: #e3f2fd;  
		border-top: 0;
	}
	&__wrap {
		position: relative;
		border-radius: 10px;
		background: #e3f2fd;
		overflow: hidden;
		display: none;
		-webkit-box-shadow: 0px 6px 9px 0px rgba(50, 50, 50, 0.65);
		-moz-box-shadow:    0px 6px 9px 0px rgba(50, 50, 50, 0.65);
		box-shadow:         0px 6px 9px 0px rgba(50, 50, 50, 0.65);
	}
	&__holder {
		padding: 30px 40px 10px;
		display: table;
		width: 100%;
		margin-left: -40px
	}
	&__row {
		display: table-row;
		width: 100%;
	}
	&__cell {
		display: table-cell;
		padding-left: 40px;
	}
	&__list {
		list-style: none;
		margin-bottom: 20px;
		display: inline-block;
		vertical-align: top;
		& li {			
			line-height: 30px;
			& a {
				font-size: 14px;
				font-weight: normal;
				color: @green !important;
				&:hover {
					color: @pink !important;
				}
			}
		}
	}
	&__title,
	&__title a {
		font-weight: bold !important;
		font-size: 16px !important;
		color: @green !important;
		margin-bottom: 10px;
		white-space: nowrap;
	}
	&__title a {
		&:hover {
			color: @pink !important;
		}
	}
}
.cart-btn {
	border: 2px solid @pink;
	border-radius: 36px;
	padding: 8px 12px 8px 15px;
	color: @pink;
	&:hover {
		background: @pink;
		color: #fff;
	}
	&__num {
		background: #e3f2fd;
		color: @blue;
		border-radius: 10px;
		padding: 0 9px;
		font-weight: bold;
	}
	&_green &__num {
		color: @green;
	}
	&:hover &__num {
		background: #e91e63;
		color: #fff;
	}
	&_header {
		margin-right: 5px;
	}
	& .icon-cart {
		margin-right: 12px;
	}
	&:hover .icon-cart {
		background-position: -86px -15px;
	}
	& .slide-btn__text {
		padding-left: 0 !important;
	}
}
.person-btn {
	border: 2px solid @blue;
	border-radius: 36px;
	padding: 8px 10px;
	&_green {
		color: @green;
		border: 2px solid @green;
	}
	&:hover {
		background: @blue;
		color: #fff;
	}
	&_green:hover {
		background: @green;
	}
	&:hover .icon-face {
		background-position: -182px 0;
	}
}
.slide-btn {
	&__text {
		max-width: 0;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		white-space: nowrap;
		font-weight: bold;
		opacity: 0;
		.transition(all, 2s, cubic-bezier(0, 1.05, 0, 1));
	}
}
.whom-btns {
	&__item {
		display: inline;
		padding: 8px 13px;
		&_parents {
			border: 2px solid @blue;
			border-radius: 36px 0 0 36px;
			a&:hover {
				color: @pink;
				border: 2px solid @pink;
			}
		}
		&_parents&_active {
			background: @blue;
			color: #fff;
		}
		&_educators {
			border: 2px solid @green;
			border-radius: 0 36px 36px 0;
			color: @green;
			margin-left: -2px;
			a&:hover {
				color: @pink;
				border: 2px solid @pink;
			}
		}
		&_educators&_active {
			background: @green;
			color: #fff;
		}
	}
}
.phone {
	display: inline-block;
	vertical-align: top;
	&__num {
		font-size: 20px;
		font-weight: bold;
		color: @pink;
	}
	&__text {
		font-size: 10px;
		margin-top: -2px;
		color: @pink;
		line-height: 10px;
	}
}
.content {
	background: #f1f8fe;
	&__main {
		padding-left: 30px;
	}
	&__table {
		display: table;
		width: 100%;
	}
	&__row {
		display: table-row;
		width: 100%;
		vertical-align: top;
	}
	&__cell {
		display: table-cell;
		vertical-align: top;
		&_menu {
			width: 220px;
		}
	}
}
.main-btn {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	position: relative;
	min-height: 700px;
	overflow: hidden;
	.transition (border-color, .25s, linear);
	&_parents {
		background: @blue url(../../f/i/patterns/1.jpg) repeat;
		border-bottom: 50px solid #039be5;
		&:hover {
			border-bottom: 50px solid #0288d1;
		}
		&:after {
			background: url(../../f/i/patterns/1-2.jpg) repeat;
		}
	}
	&_educators {
		background: #4db6ac url(../../f/i/patterns/2.jpg) repeat;
		border-bottom: 50px solid #009688;
		&:hover {
			border-bottom: 50px solid #00796b;
		}
		&:after {
			background: url(../../f/i/patterns/2-2.jpg) repeat;
		}
	}
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		opacity: 0;
		.transition (opacity, .25s, linear);
	}
	&:hover:after {
		opacity: 1;
	}
	&__holder {
		//max-width: 700px;
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		right: 0;
		padding-top: 110px;
		text-align: center;
	}
	&__title {
		color: #fff;
		display: block;
		font-size: 40px;
		font-weight: bold;
		margin-bottom: 30px;
		position: relative;
		z-index: 100;
	}
	&__text {
		color: #fff;
		max-width: 60%;
		display: inline-block;
		position: relative;
		z-index: 110;
	}
	&__img {
		position: absolute;
		bottom: -2px;
		right: 50%;
		margin-right: -380px;
		width: 585px;
		max-width: 9999px;
		z-index: 100;
	}
	&_educators &__img {
		left: 50%;
		width: 666px;
		margin-left: -420px;
	}
	&_educators &__holder {
		left: 0;
	}
}
.main-logo {
	position: absolute;
	left: 50%;
	margin-left: -80px;
	top: 25px;
	@media @small {
		width: 160px;
		top: 35px;
	}
}
.decision {
	min-height: 610px;
	position: relative;
	&:after {
		position: absolute;
	  bottom: -7px;
	  left: 50%;
	  display: block;
	  width: 50%;
	  height: 7px;
	  content: '';
	  background: url('../../f/i/waves/wave3.png') left top repeat-x;
	  z-index: 10;
	}
	&:before {
		position: absolute;
	  bottom: -7px;
	  right: 50%;
	  display: block;
	  width: 50%;
	  height: 7px;
	  content: '';
	  background: url('../../f/i/waves/wave4.png') right top repeat-x;
	  z-index: 10;
	}
	&__img {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 50%;
		overflow: hidden;
		min-height: 610px;
		border-bottom: 50px solid #009688;
		& img {
			position: absolute;
			bottom: 0;
			max-width: 9999px;
			left: 50%;
		}
		&_left img {
			right: 50%;
			left: auto;
		}
	}
	&__holder {
		max-width: 800px;
	}
	&__info {
		display: inline-block;
		vertical-align: middle;
		width: 50%;
		padding-left: 110px;
		@media @small {
			padding: 0 70px;
		}
	}
	&_dou {
		background: @green;
	}
	&_dou &__img {
		background: url(../../f/i/patterns/2.jpg) right top repeat;
	}
	&_dou &__img img {
		margin-right: -270px;
		width: 685px;
	}
	&_fgos {
		background: #7e57c2;
		&:before {
			background: url('../../f/i/waves/wave5.png') right top repeat-x;
		}
		&:after {
			background: url('../../f/i/waves/wave6.png') repeat-x;
		}
	}
	&_fgos &__img {
		background: url(../../f/i/patterns/3.jpg) repeat;
		border-bottom: 50px solid #6538b6;
	}
	&_fgos &__img img {
		margin-left: -230px;
		width: 499px;
	}
	&_key {
		background: #43a047;
		&:before {
			background: url('../../f/i/waves/wave7.png') right top repeat-x;
		}
		&:after {
			background: url('../../f/i/waves/wave8.png') repeat-x;
		}
	}
	&_key &__img {
		background: url(../../f/i/patterns/4.jpg) right top repeat;
		border-bottom: 50px solid #2e7d32;
	}
	&_key &__img img {
		margin-right: -230px;
		width: 472px;
	}
	&_prod {
		background: #28b6f6;
		&:before {
			background: url('../../f/i/waves/wave9.png') right top repeat-x;
		}
		&:after {
			background: url('../../f/i/waves/wave10.png') repeat-x;
		}
	}
	&_prod &__img {
		background: url(../../f/i/patterns/1.jpg) repeat;
		border-bottom: 50px solid #039be6;
	}
	&_prod &__img img {
		margin-left: -215px;
		width: 471px;
	}
	&_info {
		background: #3f51b5;
		&:after,
		&:before {
			display: none;
		}
	}
	&_info &__img {
		background: url(../../f/i/patterns/5.jpg) right top repeat;
		border: 0;
	}
	&_info &__img img {
		margin-right: -230px;
		width: 472px;
		bottom: -10px;
	}
	&__title {
		font-size: 40px;
		line-height: 50px;
		font-weight: bold;
		margin-bottom: 30px;
		color: #fff;
		padding-right: 50px;
	}
	&__text {
		color: #fff;
		margin-bottom: 50px;
		font-size: 16px;
		padding-right: 90px;
	}
	&__btn {
		&-wrap {
			display: inline-block;
			vertical-align: top;
			@media @small {
				display: block;
				margin-bottom: 25px;
			}
		}
		&_left {
			border-radius: 36px 0 0 36px;
			padding: 8px 30px 8px 30px;
			@media @small {
				border-radius: 36px;
			}
		}
		&_right {
			border-radius: 0 36px 36px 0;
			padding: 8px 30px 8px 30px;
			margin-left: -2px;
			@media @small {
				border-radius: 36px;
				margin-left: 0;
			}
		}
	}
}
.white-btn {
	border: 2px solid #fff;
	border-radius: 36px;
	padding: 8px 10px 8px 30px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
	&:hover {
		background: #fff;
		color: @pink;
	}
	&:focus {
		color: #fff;
	}
	&:hover:focus {
		color: @pink;
	}
}
.blue-btn {
	border: 2px solid @blue;
	border-radius: 36px;
	padding: 8px 10px 8px 30px;
	color: @blue;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
	&:hover {
		background: @blue;
		color: #fff;
	}
	&:focus {
		color: @blue;
	}
	&:hover:focus {
		color: #fff;
	}
}
.catalog-menu {
	border-radius: 10px;
	position: relative;
	background: #fff;
	width: 220px;
	z-index: 10;
	&__title {
		border-radius: 10px 10px 0 0;
		background: @blue;
		padding: 10px 20px;
		color: #fff;
		font-size: 20px;
		font-weight: bold;
	}
	&__list {
		list-style: none;
	}
	&__item {
		background: #fff;
		border-top: 2px solid #e3f2fd;
		border-left: 2px solid #e3f2fd;
		border-right: 2px solid #e3f2fd;
		&:last-child {
			border-bottom: 2px solid #e3f2fd;
			border-radius: 0 0 10px 10px;
		}
		 &_sub:hover {
			border-right: none;
			margin-right: -5px;
		} 
		&_sub.maintainHover {
			border-right: none;
			margin-right: -5px;
		}
	}
	&__link {
		padding: 14px 25px 14px 15px;
		display: block;
	}
	&__item_sub:hover &__link {
		color: @pink;
	} 
	&__item_sub.maintainHover &__link{
		color: @pink;
	} 
	&__item_sub:hover &__link:before {
		right: 17px;
		background-position: -56px -41px;
	}
	&__item_sub.maintainHover &__link:before {
		right: 17px;
		background-position: -56px -41px;
	}
}
.catalog-submenu {
	padding-left: 10px;
	position: absolute;
	left: 215px;
	top: 0;
	display: none;
	z-index: -1;
	&__wrap {
		position: relative;
		border-radius: 10px;
		overflow: hidden;
		background: #fff;
		-webkit-box-shadow: 0px 6px 9px 0px rgba(50, 50, 50, 0.65);
		-moz-box-shadow:    0px 6px 9px 0px rgba(50, 50, 50, 0.65);
		box-shadow:         0px 6px 9px 0px rgba(50, 50, 50, 0.65);
	}
	&__holder {
		padding: 30px 20px 20px;
		display: table;
		width: 100%;
		margin-left: -40px;
	}
	&__row {
		display: table-row;
		width: 100%;
	}
	&__cell {
		display: table-cell;
		padding-left: 40px;
		min-width: 240px;
		@media (max-width: 1100px) {
			min-width: 170px;
		}
	}
	&__list {
		list-style: none;
		&_sep {
			border-bottom: 2px solid #e3f2fd;
			padding-bottom: 10px;
			margin-bottom: 30px;
		}
		& li {
			margin: 0;
			margin-bottom: 15px;
			& a {
				display: inline;
				padding: 0;
			}
		}
	}
	li&__title,
	p&__title {
		margin-bottom: 20px;
		line-height: 20px;
		& a {
			font-size: 16px;
			color: #546e7a;
			font-weight: bold;
			&:hover {
				color: @pink;
			}
		}
	}
}
.catalog-search {
	position: relative;
	margin-bottom: 30px;
	&_bot_25 {
		margin-bottom: 25px;
	}
	&__input-wrap {
		overflow: hidden;
	}
	&__input {
		width: 100%;
		border-right: none !important;
		border-radius: 10px 0 0 10px !important;
	}
	&__submit {
		float: right;
		width: 50px;
		height: 50px;
		background: #e3f2fd;
		border: none;
		border-radius: 0 10px 10px 0;
		&:hover {
			background: @pink;
		}
	}
}
.catalog-slider {
	margin-bottom: 40px;
	&__item {
		height: 400px;
		overflow: hidden;
		border-radius: 15px;
		&_cras {
			background: @blue url(../../f/i/patterns/1.jpg) repeat;
		}
		&_temp {
			background: @blue url(../../f/i/patterns/2.jpg) repeat;
		}
		&_temp2 {
			background: @blue url(../../f/i/patterns/3.jpg) repeat;
		}
	}
	&__wrap {
		overflow: hidden;
		padding-right: 30px;
		position: relative;
	}
	&__btns {
		width: 220px;
		float: right;
	}
	&__btn {
		width: 220px;
		height: 185px;
		border-radius: 15px;
		display: block;
		overflow: hidden;
		position: relative;
		padding-left: 20px;
		&:before {
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			content: '';
			width: 0;
		}
		& img {
			position: absolute;
			right: 0;
			top: 0;
		}
		& span {
			display: inline-block;
			vertical-align: middle;
			font-size: 18px;
			font-weight: bold;
			color: #fff;
			line-height: 25px;
		}
	}
	&__promo {
		background: #8bc34a;
		margin-bottom: 30px;
		& img {
			top: 5px;
		}
		a&:hover {
			background: #9ccc65;
		}
	}
	&__qst {
		background: #ec407a;
		a&:hover {
			background: #f06292;
		}
	}
	&__info {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		padding: 60px 50px;
		@media @small {
			width: 100%;
		}
	}
	&__img {
		width: 50%;
		height: 100%;
		position: relative;
		display: inline-block;
		vertical-align: top;
		@media @small {
			width: 0;
		}
		& img {
			max-width: 9999px;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto 0;
			left: 20px;
			max-height: 285px;
		}
	}
	&__logo {
		margin-bottom: 30px;
	}
	&__text {
		font-size: 30px;
		font-weight: bold;
		color: #fff;
		margin-bottom: 30px;
		line-height: 40px;
	}
	&__more {
		padding-left: 20px;
	}
	&__pager {
		position: absolute;
		bottom: 10px;
		left: 0;
		text-align: center;
		width: 100%;
		margin-left: -22px;
		& a {
			display: inline-block;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: #fff;
			margin-left: 12px;
			&.selected {
				background: #455a64;
			}
			& span {
				display: none;
			}
		}
		z-index: 2;
	}
}
.catalog {
	margin-bottom: 20px;
	&_bot_50 {
		margin-bottom: 50px;
	}
	&__title {
		background: url(../../f/i/waves/11.png) left center repeat-x;
		margin-bottom: 25px;
		& span,
		& a {
			color: @blue;
			font-size: 30px;
			background: #f1f8fe;
			font-weight: bold;
			padding-right: 20px;
		}
		& a:hover {
			color: @pink;
		}
		& b {
			color: @pink;
			background: #fff;
			padding: 5px 12px;
			display: inline-block;
			vertical-align: text-bottom;
			border-radius: 15px 15px;
			margin-left: -8px;
			position: relative;
			font-size: 16px;
			font-weight: bold;
			line-height: 20px;
			&:after {
				content: '';
				position: absolute;
				right: -15px;
				top: 0;
				width: 15px;
				height: 100%;
				background: #f1f8fe;
				z-index: 2;
			}
		}
	}
	&__holder {
		margin-left: -20px;
		margin-right: -20px;
		padding-right: 20px;
		padding-top: 20px;
		margin-top: -20px;
		overflow: hidden;
		max-height: 400px;
		margin-bottom: 15px;
	}
	&_list &__holder {
		max-height: 99999px;
		overflow: visible;
		margin-bottom: 40px;
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		width: 20%;
		padding-left: 20px;
		margin-bottom: 20px;
		@media (max-width: 1300px) {
			width: 25%;
		}
		@media (max-width: 1100px) {
			width: 33.333333%;
		}
	}
	&_list &__item {
		display: block;
		width: 100%;
	}
	&__link {
		height: 360px;
		background: #fff;
		display: block;
		position: relative;
		padding: 20px;
		border-radius: 10px;
		text-align: center;
		a&:hover {
			-webkit-box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.35);
			-moz-box-shadow:    0px 6px 15px 0px rgba(50, 50, 50, 0.35);
			box-shadow:         0px 6px 15px 0px rgba(50, 50, 50, 0.35);
		}
	}
	&_list &__link {
		min-height: 220px;
		height: auto;
		padding: 0;
	}
	&__img {
		display: block;
		min-height: 195px;
		position: relative;
		& img {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			left: 0;
			right: 0;
			max-width: 100%;
		}
	}
	&_list &__img {
		position: absolute;
		left: 0;
		top: 0;
		width: 180px;
		min-height: 0;
		padding: 20px;
		height: 100%;
		& img {
			max-width: 80%;
		}
	}
	&_list &__info {
		overflow: hidden;
		display: block;
		text-align: left;
		padding: 20px 180px 30px 200px;
	}
	&__brand {
		color: #455a64;
		font-size: 12px;
		line-height: 25px;
		display: block;
	}
	&__name {
		font-size: 16px;
		color: @blue;
		display: block;
		@media (max-width: 1000px) {
			font-size: 14px;
		}
	}
	&_list &__name {
		font-size: 20px;
		font-weight: bold;
		font-style: normal;
		margin-bottom: 30px;
	}
	a&__link:hover &__name {
		color: @pink;
	}
	&__price {
		font-size: 20px;
		line-height: 40px;
		color: @blue;
		font-weight: bold;
	}
	&_list &__price {
		font-style: normal;
		display: block;
		line-height: 20px;
	}
	&__price-wrap {
		position: absolute;
		right: 0;
		height: 100%;
		display: block;
		width: 150px;
		border-left: 2px solid #f1f8fe;
		padding: 20px;
		padding-left: 30px;
		text-align: left;
	}
	&__old-price {
		font-size: 16px;
		line-height: 40px;
		color: @blue;
		margin-right: 10px;
		position: relative;
		overflow: hidden;
		&:before {
			content: '';
			height: 1px;
			position: absolute;
			top: 1px;
			bottom: 0;
			margin: auto 0;
			left: 0;
			right: 13px;
			background: @blue;
		}
	}
	&_list &__old-price {
		font-style: normal;
		display: inline-block;
	}
	&__discount {
		position: absolute;
		top: 10px;
		left: 20px;
		font-size: 16px;
		color: @pink;
		font-weight: bold;
		z-index: 3;
	}
	&_list &__discount {
		position: relative;
		display: inline-block;
		vertical-align: top;
		top: 0;
	}
	&__description {
		height: 30px;
		margin-bottom: 10px;
		&-item {
			padding-left: 30px;
			color: #546e7a;
			font-size: 16px;
		}
		&-name {
			width: 130px;
			float: left;
		}
		&-price {
			width: 150px;
			float: right;
		}
	}
}
.info-line {
	display: block;
	position: relative;
	z-index: 1;
	&:before {
		position: absolute;
		border-bottom: 2px dotted #e3f2fd;
		content: '';
		bottom: 10px;
		left: 0;
		width: 100%;
		z-index: -1;
	}
	&__name {
		background: #fff;
		display: inline-block;
		padding-right: 5px;
		color: #455a64;
		font-style: normal;
		font-size: 16px;
		font-weight: normal;
	}
	&__value {
		float: right;
		color: #455a64;
		font-style: normal;
		background: #fff;
		display: inline-block;
		padding-left: 5px;
		font-size: 16px;
		font-weight: normal;
		&_blue {
			color: @blue;
		}
	}
}
.features {
	text-align: justify;
	margin-bottom: 20px;
	&:after {
		content: '';
		width: 100%;
		height: 0;
		display: inline-block;
		vertical-align: top;
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		width: 24%;
		text-align: center;
		padding: 0 10px;
		@media (max-width: 1100px) {
			width: 32%;
			&:last-child {
				display: none;
			}
		}
	}
	&__img {
		height: 80px;
		margin-bottom: 20px;
		position: relative;
		& img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			max-width: 100%;
		}
	}
	&__title {
		font-size: 16px;
		font-weight: bold;
		color: @blue;
		margin-bottom: 10px;
	}
	&__text {
		color: #455a64;
	}
}
.catalog-btns {
	margin-left: -30px;
	margin-bottom: 20px;
	&__item {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding-left: 30px;
	}
	&__link {
		height: 300px;
		border-radius: 15px;
		display: block;
		overflow: hidden;
	}
	&__item_pay &__link {
		background: #29b6f6 url(../../f/i/patterns/1.jpg) repeat;
	}
	&__item_pay a&__link:hover {
		background: #29b6f6 url(../../f/i/patterns/1-2.jpg) repeat;
	}
	&__item_educators &__link {
		background: #4db6ac url(../../f/i/patterns/2.jpg) repeat;
	}
	&__item_educators a&__link:hover {
		background: #4db6ac url(../../f/i/patterns/2-2.jpg) repeat;
	}
	&__img {
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 40%;
		height: 300px;
		@media @small {
			display: none;
		}
		& img {
			left: 0;
			bottom: 0;
			position: absolute;
			max-width: 9999px;
		}
	}
	&__info {
		display: inline-block;
		vertical-align: top;
		width: 60%;
		padding: 40px;
		@media @small {
			width: 100%;
		}
	}
	&__title {
		font-size: 30px;
		line-height: 40px;
		color: #fff;
		font-weight: bold;
		margin-bottom: 15px;
		display: block;
	}
	&__text {
		color: #fff;
		font-weight: normal;
	}
}
.parents-help {
	background: #fff;
	position: relative;
	&:before {
	  background: rgba(0, 0, 0, 0) url("../../f/i/waves/wave11.png") repeat-x scroll 0 0;
	  top: -7px;
	  content: "";
	  display: block;
	  height: 7px;
	  left: 0;
	  position: absolute;
	  width: 100%;
	  z-index: 10;
	}
	&__holder {
		text-align: justify;
		height: 220px;
		overflow: hidden;
		margin-bottom: 40px;
		margin-left: -10px;
		&:after {
			content: '';
			width: 100%;
			height: 0;
			display: inline-block;
			vertical-align: top;
		}
	}
	&__title {
		font-size: 30px;
		color: @blue;
		font-weight: bold;
		margin-bottom: 30px;
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		width: 220px;
		margin-left: 10px;
	}
	&__link {
		width: 220px;
		height: 220px;
		padding: 50px 30px;
		background: #f1f8fe;
		display: block;
		position: relative;
		border-radius: 10px;
		&:before {
			content: '';
			width: 40px;
			height: 40px;
			background: #e2f4fe;
			position: absolute;
			right: 0;
			top: 0;
			border-radius: 0 0 0 10px;
		}
		&:after {
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			right: 0;
			top: 0;
			border: 40px solid transparent;
			border-top-color: #fff;
			border-right: 0;   
			border-bottom: 0;
		}
	}
	&__ico {
		display: block;
		height: 45px;
		text-align: center;
	}
	&__text {
		display: block;
		text-align: center;
		font-weight: 600;
	}
}
.breadcrumbs {
	list-style: none;
	& li {
		display: inline-block;
		vertical-align: top;
		& a {
			margin-right: 5px;
		}
	}
}
.section-title {
	padding-bottom: 45px;
	position: relative;
	line-height: 45px;
	&:after {
		content: '';
		position: absolute;
	  bottom: 0;
	  left: 0;
	  display: block;
	  width: 100%;
	  height: 9px;
	  background: url('../../f/i/waves/11.png') repeat-x;
	}
}
.filter {
	background: #fff;
	padding: 15px 20px;
	border-radius: 10px;
	margin-bottom: 40px;
	display: table;
	width: 100%;
	&__row {
		display: table-row;
		width: 100%;
	}
	&__cell {
		display: table-cell;
		vertical-align: top;
		&_title {
			width: 80px;
		}
	}
	&__title {
		color: #455a64;
		font-size: 16px;
		font-weight: bold;
		margin-right: 20px;
		padding-top: 4px;
		float: left;
	}
	&__holder {
		margin-bottom: -15px;
	}
}
.view-switcher {
	width: 100px;
	text-align: right;
	&__item {
		background: #fff;
		border: 2px solid @blue;
		width: 40px;
		height: 40px;
		display: inline-block;
		vertical-align: top;
		&_tiles {
			border-radius: 20px 0 0 20px;
		}
		&_tiles&_active:before {
			background-position: 0 -100px;
		}
		&_list {
			border-radius: 0 20px 20px 0;
			border-left: none;
		}
		&_list&_active:before {
			background-position: -36px -101px;
		}
		a&:hover,
		&_active {
			background: @blue;
		}
	}
}
.footer {  
	min-height: 250px;
  margin: 0;
  padding: 0;
	background: #37474f;
	min-width: 991px;
	position: relative;
	&:before {
		position: absolute;
	  top: -10px;
	  left: 0;
	  display: block;
	  width: 100%;
	  height: 10px;
	  content: '';
	  background: url('../../f/i/waves/wave.png') repeat-x;
	}
	&__holder {
		padding-top: 40px; 
	}
	&__wrap {
		display: table;
		width: 70%;
		height: 100%;
		float: left;
		@media @small {
			float: none;
			width: 100%;
		}
	}
	&__move {
		float: left;
		width: 30%;
		position: relative;
		text-align: justify;
		&:after {
			content: '';
			width: 100%;
			overflow: hidden;
			height: 0;
			display: inline-block;
			vertical-align: top;
		}
		@media @small {
			float: none;
			width: 35%;
		}
	}
	&__row {
		display: table-row;
		width: 100%;
	}
	&__cell {
		display: table-cell;
		&:first-child {
			padding-left: 0;
		}
	}
	&__title {
		margin-bottom: 15px;
		font-size: 16px;
		line-height: 25px;
		font-weight: bold;
		&_ib {
			display: inline-block;
			vertical-align: top;
			text-align: left;
			margin-bottom: 0;
		}
		&_cart {
			color: @pink;
		}
	}
	&__menu {
		list-style: none;
		margin-bottom: 15px;
		& li {
			margin-bottom: 12px;
		}
		& li a {
			color: @blue;
			font-size: 14px;
			line-height: 20px;
			&:hover {
				color: @pink;
			}
		}
	}
	&__cell_green &__title a,
	&__cell_green &__menu li a {
		color: @green;
		&:hover {
			color: @pink;
		}
	}
}
.developer {
	text-align: right;
	position: absolute;
	right: 50px;
	bottom: 35px;
	@media @small {
		bottom: 50px;
	}
	& span {
		display: block;
	}
}
.social {
	&__title {
		margin-bottom: 10px;
	}
	&__btn {
		display: inline-block;
		vertical-align: top;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		background: url(../../f/i/icons.png);
		background-position: -103px 0;
		&_facebook:hover {
			background-position: -103px -20px;
		}
		&_vk {
			background-position: -123px 0;
			&:hover {
				background-position: -123px -20px;
			}
		}
		&_odn {
			background-position: -143px 0;
			&:hover {
				background-position: -143px -20px;
			}
		}
	}
}
